/* Style for each file item in the file list */
.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--bg-color);
    transition: background-color 0.2s;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 2px;
    box-shadow: var(--box-shadow);
    transition: background 0.2s ease;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

/* Hover effect on the row */
.file-item:hover {
    background-color: var(--hover-bg);
}

.file-info-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.file-icon {
    font-size: 15px;
}

.file-name {
    font-size: 16px;
    color: var(--text-color);
    flex-grow: 1;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-actions {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 8px;
    border-radius: 20px;
    transition: opacity 0.1s;
    opacity: 0;
}

/* Making the icon visible when hovering the file */
.file-item:hover .file-actions {
    opacity: 1;
}

/*Three dots button and menu*/
.dots-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.2s;
    color: var(--text-color);
}

.dots-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.file-menu {
    position: absolute;
    top: 80%;
    right: 10px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    overflow: hidden;
    background-color: var(--bg-color-1);
    color: var(--text-color);
}

.file-menu button {
    padding: 12px 16px;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-option {
    color: #d93025;
}

.file-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.star-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease;
}

.star-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.star-btn.starred {
    color: #f4b400;
}