/* Sidebar container */
.sidebar {
    width: 200px;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background: var(--bg-color-2);
    margin-left: 10px;
    margin-right: 10px;
}

/* Title */
.sidebar h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--text-color);
}

/* +New button */
.sidebar-new-button {
    width: 60%;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 18px 18px 18px 18px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
}

.sidebar-new-button:hover {
    background-color: #2b52a6;
}

/* Menu list */
.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s ease;
    color: var(--text-color);
}

.sidebar-menu li:hover {
    background: var(--hover-bg);
}


/* New menu inside sidebar (no borders, part of sidebar flow) */
.new-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: var(--content-bg);
    padding: 4px 6px;
    margin-top: 8px;
    border-radius: 18px 18px 18px 18px;
}

.new-menu button {
    background: none;
    border: none;
    text-align: left;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    border-radius: 18px 18px 18px 18px;
    color: var(--text-color);
}

.new-menu button:hover {
    background: var(--hover-bg);
}